<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <hash>2108ae120198d92d534d648a4c61a5bd</hash>
    <item>
        <title>[DISINFORMASI] Foto "Dampak 16 Hari Lockdown di Italia"</title>
        <category>hoaks</category>
        <dateOrigin>Sun, 05 Apr 2020 20:03:53 +0700</dateOrigin>
        <pubDate>05 Apr 2020 20:03</pubDate>
        <author>GTPP Covid-19</author>
        <link>
            https://kominfo.go.id/content/detail/25597/disinformasi-foto-dampak-16-hari-lockdown-di-italia/0/laporan_isu_hoaks
        </link>
        <description/>
        <icon_class>gpr-kominfo-widget-icon-hoaks</icon_class>
        <category_title>Anti-Hoaks</category_title>
        <flag/>
    </item>
    <item>
        <title>[HOAKS] Pasien Positif Corona di RSUD Mulia, Puncak Jaya Papua</title>
        <category>hoaks</category>
        <dateOrigin>Sun, 05 Apr 2020 20:01:36 +0700</dateOrigin>
        <pubDate>05 Apr 2020 20:01</pubDate>
        <author>GTPP Covid-19</author>
        <link>
            https://kominfo.go.id/content/detail/25596/hoaks-pasien-positif-corona-di-rsud-mulia-puncak-jaya-papua/0/laporan_isu_hoaks
        </link>
        <description/>
        <icon_class>gpr-kominfo-widget-icon-hoaks</icon_class>
        <category_title>Anti-Hoaks</category_title>
        <flag/>
    </item>
    <item>
        <title>Pengendalian Informasi Tingkat RT/RW dan Desa Jadi Kunci Pencegahan Covid-19</title>
        <category>berita_pemerintahan</category>
        <dateOrigin>Sun, 05 Apr 2020 18:52:01 +0700</dateOrigin>
        <pubDate>05 Apr 2020 18:52</pubDate>
        <author>GTPP Covid-19</author>
        <link>
            https://www.kominfo.go.id/content/detail/25594/pengendalian-informasi-tingkat-rtrw-dan-desa-jadi-kunci-pencegahan-covid-19/0/berita
        </link>
        <description>Kementerian Desa, Pembangunan Daerah Tertinggal, dan Transmigrasi (PDTT) yang sekaligus bagian dari
            Gugus Tugas Percepatan Penanganan Covid-19 menyebutkan pengendalian informasi oleh Kepala Desa, Ketua Rukun
            Warga, hingga Ketua Rukun Tetangga dapat menjadi kunci utama dalam rangka memutus rantai penyebaran virus
            SARS-CoV-2 penyebab Covid-19 di tengah masyarakat.&#13;
        </description>
        <icon_class>gpr-kominfo-widget-icon-berita-pemerintahan</icon_class>
        <category_title>Berita Terkini</category_title>
        <flag/>
    </item>
    <item>
        <title>Sebanyak 164 Orang Sembuh dan 2.273 Positif COVID-19 di Indonesia</title>
        <category>lawan_covid_19</category>
        <dateOrigin>Sun, 05 Apr 2020 17:35:09 +0700</dateOrigin>
        <pubDate>05 Apr 2020 17:35</pubDate>
        <author>GTPP Covid-19</author>
        <link>
            https://kominfo.go.id/content/detail/25598/sebanyak-164-orang-sembuh-dan-2273-positif-covid-19-di-indonesia/0/virus_corona
        </link>
        <description>Pemerintah Indonesia melalui Gugus Tugas Percepatan Penanganan COVID-19 kembali mencatat ada
            penambahan pasien yang sembuh dari COVID-19 sebanyak 16 orang sehingga total sembuh menjadi 164. Kemudian
            untuk kasus positif ada tambahan sebanyak 181 sehingga total menjadi 2.273 dan untuk meninggal dunia ada
            penambahan sebanyak 7 orang hingga total menjadi 198.
        </description>
        <icon_class>gpr-kominfo-widget-icon-lawan-covid-19</icon_class>
        <category_title>Lawan Covid-19</category_title>
        <flag/>
    </item>
    <item>
        <title>Kemenag Imbau Umat Kristen Rayakan Paskah di Rumah</title>
        <category>berita_pemerintahan</category>
        <dateOrigin>Sun, 05 Apr 2020 15:56:43 +0700</dateOrigin>
        <pubDate>05 Apr 2020 15:56</pubDate>
        <author>GTPP Covid-19</author>
        <link>
            https://www.kominfo.go.id/content/detail/25592/kemenag-imbau-umat-kristen-rayakan-paskah-di-rumah/0/berita
        </link>
        <description>Berkenaan dengan pencegahan penyebaran wabah Corona Virus Disease 2019 (Covid-19), Direktorat
            Jenderal (Ditjen) Bimbingan Masyarakat (Bimas) Kristen Kementerian Agama (Kemenag) mengimbau agar Perayaan
            Paskah tahun ini digelar di rumah masing-masing.
        </description>
        <icon_class>gpr-kominfo-widget-icon-berita-pemerintahan</icon_class>
        <category_title>Berita Terkini</category_title>
        <flag/>
    </item>
</rss>
